/* || Sitewide */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* || Timer */

.timer {
  padding-bottom: 1em;
  font-size: 2em;
}

.settings-button {
  background-color: #1da1f2;
}

.start-button {
  margin-top: 1em;
  background-color: #1da1f2;
}

/* || Stats on Home Screen */

.stats {
  padding-bottom: 1em;
  padding-top: 1em;
  font-size: 1.5em;
}

.stats-container {
  margin: auto;
}

/* || Navigation */
.nav-background {
  background-color: #1da1f2;
}

.nav-brand {
  font-size: 1.5em;
}

.nav-icon {
  margin-right: 0.5em;
  margin-left: 0.75em;
  cursor: pointer;
}

/* || Tweet Div */

.game-divs {
  border: solid thin #e1e8ed;
  /* width: 50%; */
  text-align: left;
  padding: 1em;
  margin-top: 1em;
}

.game-divs a {
  color: #657786;
}

.game-divs a:hover {
  text-decoration: none;
}

.game-divs hr {
  color: #e1e8ed;
}

.game-divs img {
  height: 50px;
  width: 50px;
  border: solid thin black;
  border-radius: 100%;
}

.interaction-links {
  margin-right: 2em;
}

.tweet {
  margin-right: 2em;
  margin-left: 2em;
}

.tweet-text {
  font-size: 2em;
  font-weight: bold;
  color: #657786;
}

.tweet-info {
  margin-left: 1em;
}

#twitter-name {
  font-weight: bold;
}

#twitter-handle,
#twitter-date {
  color: #657786;
}

#twitter-date {
  float: right;
  margin-right: 1.5em;
}
